/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   height: 100%;
   overflow: hidden;
   cursor: default;
 }

 body {
   font-family: Raleway;
   margin: 0;
   height: 100%;
 }

  #app-container {
   height: 100%;
 }

 #splash-container {
   height: 100%;
 }

 #root {
   height: 100%;
 }

 .splash {
   height: 100%;
   background: radial-gradient(circle at top, rgba(152, 132, 202, 0.8) 20%, rgba(0, 119, 255, 0.8)  55%, rgba(255, 0, 0, 0.8)  100%);
 }

  .webplayer-header {
   height: 80%;
 }

 .webplayer-header > * {
   margin-left: min(6%);
   margin-left: max(8%);
   font-weight: 700;
   font-size: 50px;
   padding: 30px;
 }

 .container > * {
   color: rgb(223, 255, 118);
   margin-top: 3%;
 }

 .webplayer-header h3 {
   margin-top: 8%;
   font-size: 12px;
   letter-spacing: 2px;
 }

  .webplayer-header h2 {
   font-size: 24px;
   margin-bottom: 2%;
 }

  .webplayer-header a {
    text-decoration: none;
    font-weight: 600;
    padding: 16px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: rgb(223, 255, 118);
    font-size: 12px;
    border-radius: 500px;
    color: rgba(0, 119, 255, 0.8);
    letter-spacing: 1px;
    transition: all .25s ease;
 }

 .webplayer-header a#weblink:hover {
    background-color:  rgb(255, 154, 154);
    cursor: pointer;
 }

 #web-container {
   overscroll-behavior: contain;
   scroll-behavior: none;
   height: 100%;
   display: flex;
 }

 footer {
    bottom: 0;
    height: 300px;
    width: 100%;
    z-index: 50;
    background-color: black;
 }
