/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   height: 100%;
 }

 body {
   font-family: Raleway;
   margin: 0;
   height: 100%;
 }

  #app-container {
   height: 100%;
 }

 #root {
   height: 100%;
 }

 .splash {
   height: 100%;
   background: radial-gradient(circle at top, rgba(255, 255, 255, 0.8) 0, rgba(255, 100, 100, 0.8) 0%, rgba(255, 249, 74, 0.8)  50%, rgba(255, 86, 86, 0.8)  100%);
 }

  .webplayer-header {
   height: 100%;
 }

 .webplayer-header > * {
   margin-left: 5%;
   font-weight: 700;
   font-size: 50px;
   padding: 30px;
 }

 .container {
   -webkit-transform:scale(1.0);
   transform: scale(1.0);
 }

 .container > * {
   color: rgb(255, 85, 116);
   margin-top: 3%;
 }

 .webplayer-header h3 {
   margin-top: 8%;
   font-size: 12px;
   letter-spacing: 2px;
 }

  .webplayer-header h2 {
   font-size: 24px;
   margin-bottom: 2%;
 }

  .webplayer-header a {
    text-decoration: none;
    font-weight: 600;
    padding: 16px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: rgb(255, 85, 116);
    font-size: 12px;
    border-radius: 500px;
    color: white;
    letter-spacing: 1px;
    transition: all .25s ease;
 }

 .webplayer-header a#weblink:hover {
    background-color: rgb(255, 114, 140);
    cursor: pointer;
 }

 footer {
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: black;
 }
