.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: bold;
    max-width: 424px;
    align-self: center;
}

.form > * {
    align-self: center;
}

label {
    text-align: left;
}

button {
    padding: 5px;
}

.input-header {
    padding: 5px;
}

.large-button {
    width: 408px;
    height: 16px;
    padding: 14px;
    text-decoration: none;
    border-radius: 500px;
    align-content: center;
}

.small-button {
    color: white;
    width: 182px;
    height: 14px;
    padding: 14px;
    align-content: center;
    border-radius: 500px;
}

#demo-user {
    background-color: black;
    color: white;
}

#demo-user:hover {
    background-color: rgb(45, 45, 45);
    color: white;
}

#signup-login {
    border: 2px solid gray;
    color: gray;
    background-color: white;
}

#signup:hover {
    color: white;
    background-color: gray;
}

#login {
    align-self: center;
    background-color: #1DB954;
}

#login:hover {
    background-color: #26db65;
}

input {
    width: 422px;
    height: 24px;
}

#demo-user-fb {
    text-decoration: none;
    background-color: rgb(7, 115, 255);
    color: white;
}

#demo-user-fb:hover {
    text-decoration: none;
    background-color: rgb(29, 127, 255);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.signup-form-entries {
    display: flex;
    flex-direction: column;
}

.signup-form-entries > * {
    padding: 14px;
}

.submit-area {
    padding: 14px;
}

#signup {
    width: 112px;
    height: 48px;
    padding: 16px;
    border-style: none;
    vertical-align: middle;
    text-align: center;
    background-color: #26db65;
    color: black;
  
}

#signup:hover {
    background-color: #2ee06c;
    color: black;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.separator {
    margin-top: 15px;
    display: block;
    overflow: hidden;
    text-align: center;
}

.error {
    width: 100%;
    background-color: red;
    color: white;
    font-size: smaller;
    font-weight: bold;
}