.home {
    width: 100%;
    background-color: #1a1a1a;
    overflow-y: scroll;
}

.home-header {
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 40px;
}