#nav-bar {
    font-family: Raleway;
    font-weight: 650;
    letter-spacing: .5px;
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.splash-logo-container {
    width: 200px;
    margin-left: min(.5%);
    margin-left: max(10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#splash-logo {
    width: 60px;
}

#logo {
    font-weight: 600;
    font-size: 30px;
}

.splash-links {
    display: flex;
    align-items: center;
    width: 500px;
    margin-right: min(10px);
    margin-right: max(5%);
    justify-content: flex-start;
}

.divider {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
}

.nav-link {
    color: rgb(219, 219, 219);
    text-decoration: none;
    padding: 15px;
}

.nav-link:hover {
    color: #1DB954;
}

.nav-dropdown > * {
    padding: 5px;
}

.nav-dropdown {
    display: inline-block;
    position: relative;
    color: rgb(219, 219, 219);
    text-decoration: none;
    padding: 20px;
    width: 40%;
}

.nav-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn:hover {
    color: #1DB954;
    cursor: pointer;
}

.nav-dropdown-content {
    top: 74px;
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1;
    padding: 100px;
}

.nav-dropdown-content a:hover {
    cursor: pointer;
    color: rgb(31,223,100);
}

.display-items {
    display: block;
}