.playlist-index {
    height: 44%;
    overflow-y: scroll;
    overscroll-behavior: contain;
    width: 75%;
    border-top: 1px solid rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 90px;
}

.playlist-index-item {
    color: rgb(155, 155, 155);
    font-size: 14px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    letter-spacing: -.25px;
    margin: 15px 0px 0px 0px;
}

.playlist-index-item:hover {
    color: white;
    cursor: default;
}

.playlist-index-item:hover a {
    color: white;
}

.index-options-container {
    position: relative;
}

.index-dropdown-content, .hidden-playlists {
    display: none;
    position: absolute;
    background-color: rgb(38, 38, 38);
    width: 200px;
    z-index: 10;
    padding: 1px;
    color: white;
    left: -200px;
    z-index: 10;
}

.index-dropdown-content > * {
    width: 100%;
    z-index: 10;
}

.display-items {
    display: block;
}

.index-options-list {
    display: flex;
    flex-direction: column;
}

.index-options-list > * {
    font-size: 12px;
    padding: 15px;
    margin: 3px;
    border-radius: 3px;
    z-index: 10;
}

.hidden-playlists {
    top: -50%;
    max-height: 195px;
    overflow-y: scroll;
}

.hidden-playlists > * {
    font-size: 12px;
    padding: 15px;
    margin: 3px;
    border-radius: 3px;
    z-index: 1000;
    overflow-y: hidden;
}

.index-options-list > *:hover, .hidden-playlists > *:hover {
    cursor: pointer;
    background-color: rgb(82, 82, 82);
}

.playlists-list {
    position: relative;
}

.drop-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 6;
}