#playlist-container {
    width: 90%;
    overflow-y: scroll;
    padding-bottom: 160px;
    background:rgb(26, 26, 26);
}

.playlist-display-header {
    width: 100%;
    display: flex;
    height: 300px;
    width: 100%;
    align-items: flex-end;
    padding-top: 80px;
    background-image: linear-gradient(rgb(94, 94, 94),
    rgb(39, 39, 39));
    color: white;
}

.playlist-cover {
    height: 220px;
    width: 220px;
    margin: 30px;
    box-shadow: 0 0 30px rgb(28, 28, 28);
}

.top-nav {
    position: absolute;
}

.playlist-info {
    margin-bottom: 20px;
    text-align: left;
}

.playlist-info > * {
    margin-bottom: 10px;
}

.playlist-info p {
    font-size: 12px;
    color: rgb(155, 155, 155);
}

.content-type {
    font-size: 12px;
    font-weight: 700;
}

.playlist-title, .album-title {
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 10px;
}

.playlist-title:hover {
    cursor: pointer;
}

.playlist-metadata {
    display: flex;
}

.playlist-metadata > * {
    margin: 2px;
}

.creator-info {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 700; 
}

.creator-info:hover {
    text-decoration: underline;
}

.playlist-tools {
    height: 80px;
    color: rgb(155, 155, 155);
    background-image: linear-gradient(#282828, #1a1a1a);
    display: flex;
    align-items: center;
    position: relative;
}

#top-options {
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 1px;
}

#top-options:hover, #index-options:hover {
    color: white;
}

.index-options-container {
    position: relative;
    height: 16px;
    width: 3%;
    padding-left: 10px;
}

#index-options {
    position: absolute;
    height: 16px;
    width: 100%;
}

#index-play {
    width: 100%;
}

#index-pause {
    width: 100%;
}

.playlist-contents {
    width: 100%;
    background:rgb(26, 26, 26);
}

.content-index {
    width: 95%;
    color: rgb(155, 155, 155);
    margin: 30px 30px 30px 40px;
}

.content-index-header {
    text-align: left; 
    border-bottom: 1px solid rgb(48, 48, 48);
    margin-bottom: 20px;
    font-size: 13px;
    letter-spacing: 1px;
    display: flex;
    padding-bottom: 10px;
}

.position {
    width: 5%;
    text-align: center;
}

.title {
    width: 40%;
}

.song-meta-data {
    display: flex;
}

.al-song-meta-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-index-item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    z-index: 100;
}

.content-index-item:hover {
    background:rgb(65, 65, 65);
    cursor: default;
}

.content-index-item:hover .pl-artist-link, .content-index-item:hover .pl-album-link {
    color: white;
}

.al-content-index-item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    z-index: 10;
}

.al-content-index-item:hover {
    background:rgb(65, 65, 65);
    cursor: default;
}

.al-content-index-item:hover .pl-artist-link {
    color: white;
}

.pl-song-info {
    height: 35px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}

.pl-song-title {
    color: white;
}

.al-song-title {
    color: white;
    padding-bottom: 5px;
}

.pl-artist-link {
    width: fit-content;
    color: rgb(155, 155, 155);
    text-decoration: none;
    font-size: 13px;
}

.pl-artist-link:hover {
    text-decoration: underline;
}

.pl-album-link {
    color: rgb(155, 155, 155);
    text-decoration: none;
    font-size: 16px;
}

.pl-album-link:hover {
    text-decoration: underline;
}

.plist-album-cover {
    height: 40px;
}

.album {
    width: 30%;
}

.date-added {
    width: 30%;
}

.duration {
    width: 5%;
}

.pl-nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(38, 38, 38);
    width: 100px;
    z-index: 1;
    padding: 1px;
    color: white;
    top: 50px;
    left: 30px;
}

.pl-nav-dropdown-content > * {
    width: 100%;
}

.pl-options-list {
    display: flex;
    flex-direction: column;
}

.pl-options-list > * {
    font-size: 12px;
    padding: 15px;
    margin: 3px;
    border-radius: 3px;
}

.pl-nav-dropdown-content a:hover {
    cursor: pointer;
    background-color: rgb(82, 82, 82);
}

.display-items {
    display: block;
}

.content-options {
    width: 3%;
}