.playlist-index {
    height: 44%;
    overflow-y: scroll;
    overscroll-behavior: contain;
    width: 75%;
    border-top: 1px solid rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 40px;
}

.playlist-index-item {
    color: rgb(155, 155, 155);
    font-size: 14px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    letter-spacing: -.25px;
    margin: 15px 0px 0px 0px;
}

.playlist-index-item:hover {
    color: white;
    cursor: default;
}

.playlist-index-item:hover a {
    color: white;
}