.sidebar-logo {
    display: flex;
    width: 100%;
    text-decoration: none;
    justify-content: start;
    align-items: center;
}
.sidebar-logo p {
    margin-right: 20px
}

.sidebar-logo img {
    width: 25%;
    margin: 10px;
}

.sidebar-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-playlist {
    text-align: center;
    text-decoration: none;
    color: rgb(155, 155, 155);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: color .25s ease;
}

.nav-playlist:hover {
    color: white;
}

.fas.fa-plus-square, .fas.fa-home, .fas.fa-search {
    font-size: 28px;
}

.playlist-text {
    margin-left: 20px;
    font-weight: 600;
    font-size: 17px;
}

#nav-spacer {
    height: 30px;
}