.sidebar-logo {
    display: flex;
    width: 100%;
    text-decoration: none;
    justify-content: start;
    align-items: center;
}
.sidebar-logo p {
    margin-right: 20px
}

.sidebar-logo img {
    width: 25%;
    margin: 10px;
}

.sidebar-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-playlist {
    text-align: center;
    text-decoration: none;
    color: rgb(155, 155, 155);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
}

.nav-playlist:hover {
    color: white;
}

.fas.fa-plus-square {
    font-size: 30px;
}

.nav-playlist-text {
    font-size: 15px;
    margin: 0 auto;
}