#web-side-bar {
    width: min(210px);
    height: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-nav-bar {
    width: inherit;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-func {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playlist-index {
    height: 60%;
    overflow-y: scroll;
    overscroll-behavior: contain;
}