#web-side-bar {
    min-width: 260px;
    max-width: 260px;
    height: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-nav-bar {
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-func {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}