#web-top-bar {
    position: absolute;
    height: 60px;
    background-color: #272727;
    top: 0;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 1000;
}

#top-container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.top-username {
    font-weight: bold;
}

#navigate-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 20px;
    width: 90px;
    height: 40px;
    color: white;
}

.fa-chevron-left, .fa-chevron-right {
    background-color: black;
    padding: 10px 14px 10px 14px;
    border-radius: 100px;
    font-size: 20px;
    text-align: center;
    transition: all .25s ease;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
    background-color: rgb(30, 30, 30);
}

#profile-button {
    border-radius: 50px;
    margin-right: 20px;
    height: 25px;
    width: 135px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transform: all .5s ease;
}

#profile-button:hover {
    background-color: #4d4d4d;
}

.top-profile-photo {
    height: inherit;
    width: 25px;
    border-radius: 100px;
}


.nav-link:hover {
    color: #1DB954;
}

.nav-dropdown > * {
    padding: 8px;
}

.profile-dropdown {
    display: inline-block;
    position: relative;
    color: rgb(219, 219, 219);
    text-decoration: none;
}

.nav-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn:hover {
    color: #1DB954;
    cursor: pointer;
}

.pro-dropdown-content {
    top: inherit;
    left: 7px;
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    height: 25;
    z-index: 1;
    width: 135px;
    text-decoration: none;
}

.pro-dropdown-content > * {
    width: 100%;
}

.pro-options-list {
    display: flex;
    flex-direction: column;
}

.pro-options-list > * {
    font-size: 12px;
    padding: 15px;
    margin: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.pro-options-list > *:hover {    
    background-color: #4d4d4d;
}

.display-items {
    display: block;
}

#pro-arrow {
    padding-right: 3px;
}